services:
  app:
    build: .
    container_name: laravel_app
    volumes:
      - .:/var/www
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: xxx #DB should be same as .env
      DB_USERNAME: xxxx #user should be same as .env
      DB_PASSWORD: xxxx #password should be same as .env
    command: php-fpm

  db:
    image: postgres:15
    container_name: pg_db
    restart: always
    environment:
      POSTGRES_DB: xxx #DB should be same as .env
      POSTGRES_USER: xxxx #user should be same as .env
      POSTGRES_PASSWORD: xxxx #password should be same as .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: